<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KelimeEzber.DAL.Properties.Settings.KE" connectionString="Data Source=.\DERYASQL;Initial Catalog=KelimeEzber;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="KelimeEzber.DAL.Properties.Settings.KEKEEE" connectionString="Data Source=.;Initial Catalog=KelimeEzber;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="KelimeEzber.DAL.Properties.Settings.KEKE" connectionString="Data Source=.;Initial Catalog=KelimeEzber;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="KelimeEzber.DAL.Properties.Settings.KEEZ" connectionString="Data Source=.\MARVELSQL;Initial Catalog=KelimeEzber;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>